/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #25AF8A;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #fff;
$linkColorHover: darken( $linkColor, 60% );
$selectionBackgroundColor: darken( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 0.7em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal img.avatar {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.reveal section small img {
  margin: 0px;
}

cite img,
img[class*='avatar-'] {
  margin-right: 6px;
  vertical-align: middle; }

img[class*='avatar-'] {
  border-radius: 50%; }

img.avatar-40 {
  height: 40px;
  width: 40px; }

img.avatar-48 {
  height: 48px;
  width: 48px; }

img.avatar-56 {
  height: 56px;
  width: 56px; }

img.avatar-64 {
  height: 64px;
  width: 64px; }

img.avatar-72 {
  height: 72px;
  width: 72px; }

img.avatar-80 {
  height: 80px;
  width: 80px; }

.reveal .flex-container{
    display: flex;
    justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.reveal .col{
    flex: 1;
    align-self: flex-start;
    padding:20px; /* this */
}

.reveal small.avatar * {
  vertical-align: left;
}

.reveal .col small.left * {
  text-align: left; 
}

.reveal .slides section .fragment.highlight-green.visible {
	color: floralwhite;
	background-color: green;
}

.reveal .slides section .fragment.highlight-red.visible {
	color: floralwhite;
	background-color: #B00000;
}

.reveal .slides section .fragment.highlight-yellow.visible {
	color: black;
	background-color: #f0f061;
}


.reveal section img.logo {
	background: none;
	border: none;
	box-shadow: none;
	width: 40%;
  height: 40%;
}

//body {
//    background-image: url(../../img/dropsolidlogo.png);
//    background-size: 20%;
//    background-repeat: no-repeat;
//    background-position: 3% 96%;
//}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------




